[submodule "server"]
	path = server
	url = https://github.com/Linhieng/course-graduation-survey-server.git
[submodule "client"]
	path = client
	url = https://github.com/Linhieng/course-graduation-survey-client.git
