[submodule "server"]
	path = server
	url = https://github.com/Linhieng/course-graduation-survey-server.git
	branch = refactor2
[submodule "client"]
	path = client
	url = https://github.com/Linhieng/course-graduation-survey-client.git
	branch = refactor3
[submodule "client-publish"]
	path = client-publish
	url = https://github.com/Linhieng/course-graduation-survey-client-publish.git
	branch = main
